.container-reguler-exit {
    background-color: #babab3;
    height: 100%;
    width: 100%;
    padding-top: 8vh;
}

.memberPng {
    width: 17vw;
}

.container-member-png {
    text-align: -webkit-center;
}