.report {
    width: 100%;
}
.judul-report {
    margin: auto;
    width: 100%;
    height: 8vh;
}

.middle-content {
    float: left;
    width: 100%;
    height: 71vh;
    margin-right: 2vh;
}

.menu-title {
    text-align: center;
    background-color: #fcb134;
    border-radius: 1vh;
    padding: 1vh;
    color: black;
    vertical-align: middle;
}
.nav-title {
    text-align: center;
    color: white;
    vertical-align: middle;
    margin-top: 12vh;
}
.nav-title:hover {
    text-align: center;
    color: black;
    background-color: white;
    vertical-align: middle;
    margin-top: 12vh;
    cursor: pointer;
    border-radius: 0.5vh;
}
.judul-report-right {
    float: right;
}

.judul-report-left {
    float: left;
}