.form-label {
    font-size: small;
}

.container-registration , .container-registration-image {
    float: left;
    width: 50%;
}

.container-registration-image {
    height: 118vh;
}

.title-container-regis {
    margin-bottom: 2%;
}

.title-registration {
    text-align: center;
}

.box-form {
    margin-bottom: 2%;
}

.left-box , .right-box {
    float: left;
}

.left-box {
    width: 100%;
}

.right-box {
    margin-top: -4.5vh;
    margin-left: 78vh;
}

.btn-register {
    width: 90%;
    margin-top: 4%;
    margin-left: 5%;
}

.link-to-login {
    margin-left: 42%;
    text-decoration: none;
    cursor: pointer;
}